.repoGeneral img {
    height: 500px;
    width: 100%;
}

.repoPhoto1,
.repoGeneral,
.repoGeneral h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.repoTypes img{
    height: 200px;
    width:200px
}