/* Tamaño movil*/
@media  (max-width: 480px) { 
    .repoGeneral img {
        height: 300px;
        width: 100%;
    }
    
    .repoPhoto1 {
        width: 100%;
        height: 300px;
        border-bottom:solid black  1px;
    }
    
    
    .repoGeneral h2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        font-family: 'Playfair Display', serif;
        margin-top: 30px;
        color: #514a34;
    }
    
    .repoGeneral p {
        text-align: justify;
        line-height: 1.8;
        margin-left: 50px;
        margin-right: 50px;
        font-size: 14px;
        color: #aea071;
        font-family: 'Quicksand', sans-serif;
        margin-bottom: 100px;
    }
    
    .repoTypes img {
        display: block;
        margin: auto;
        width: 150px;
        height: 150px;
        border-radius: 30px;
        margin-bottom: 80px; 
    }
    
    .repoTypes img:hover{
        width: 150px;
        height: 150px;
        border-radius: 30px;
        position: relative;
        mask-image: linear-gradient(to top left, rgba(0, 0, 0, 1), transparent),
            linear-gradient(to top right, rgba(0, 0, 0, 1), transparent),
            linear-gradient(to bottom left, rgba(0, 0, 0, 1), transparent),
            linear-gradient(to bottom right, rgba(0, 0, 0, 1), transparent);
        mask-position: left top, right top, left bottom, right bottom;
        mask-size: 50% 50%;
        /* Controla la extensión del difuminado en cada esquina */
        mask-repeat: no-repeat;
        background-color: rgba(0, 0, 0, 0);
        /* Esto asegura que el fondo sea transparente */
    }
    
    .repoTypes img:hover +.repoLioIn,
    .repoTypes img:hover +.repoCocoIn,
    .repoTypes img:hover +.repoTrufIn,
    .repoTypes img:hover +.repoBolesIn,
    .repoTypes img:hover +.repoFullIn,
    .repoTypes img:hover +.repoMassIn,
    .repoTypes img:hover +.repoTociIn,
    .repoTypes img:hover +.repoManteIn,
    .repoTypes img:hover +.repoAmetIn,
    .repoTypes img:hover +.repoXocoIn,
    .repoTypes img:hover +.repoPasteIn,
    .repoTypes img:hover +.repoVariIn{
        width: 200px;
        height: 150px;
        display: flex;
        background: linear-gradient(to bottom, transparent, #aea071);
        font-size: 14px;
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    
    
    .repoLioIn,
    .repoCocoIn,
    .repoTrufIn,
    .repoBolesIn,
    .repoFullIn,
    .repoMassIn,
    .repoTociIn,
    .repoManteIn,
    .repoAmetIn,
    .repoXocoIn,
    .repoPasteIn,
    .repoVariIn{
        position: absolute;
        margin-right: 0px;
        background: linear-gradient(to bottom, transparent, #aea071);
        color:black;
        border-radius: 30px;
        margin-left: 80px;
        font-size: 14px;
        height: 40px;
        width: 150px;
        text-align: center;
    }
    
    .repoLioIn h3,
    .repoCocoIn h3,
    .repoTrufIn h3,
    .repoBolesIn h3,
    .repoFullIn h3,
    .repoMassIn h3,
    .repoTociIn h3,
    .repoManteIn h3,
    .repoAmetIn h3,
    .repoXocoIn h3,
    .repoPasteIn h3,
    .repoVariIn h3{
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Playfair Display', serif;
        text-align: center;
        line-height:11px;
        font-size: 14px;
    }
    
    .repoTypes img:hover +.repoLioIn h3,
    .repoTypes img:hover +.repoCocoIn h3,
    .repoTypes img:hover +.repoTrufIn h3,
    .repoTypes img:hover +.repoBolesIn h3,
    .repoTypes img:hover +.repoFullIn h3,
    .repoTypes img:hover +.repoMassIn h3,
    .repoTypes img:hover +.repoTociIn h3,
    .repoTypes img:hover +.repoManteIn h3,
    .repoTypes img:hover +.repoAmetIn h3,
    .repoTypes img:hover +.repoXocoIn h3,
    .repoTypes img:hover +.repoPasteIn h3,
    .repoTypes img:hover +.repoVariIn h3{
        display: none;
    }
    
    .repoLio,
    .repoCoco,
    .repoTruf,
    .repoBoles,
    .repoFull,
    .repoMass,
    .repoToci,
    .repoMante,
    .repoAmet,
    .repoXoco,
    .repoPaste,
    .repoVari{
        position: relative;
        display:flex;
        align-items:start;
    }
    
    .repoLio p,
    .repoCoco p,
    .repoTruf p,
    .repoBoles p,
    .repoFull p,
    .repoMass p,
    .repoToci p,
    .repoMante p,
    .repoAmet p,
    .repoXoco p,
    .repoPaste p,
    .repoVari p{
        display: none;
        color: black
    }
    
    .repoTypes img:hover +.repoLioIn p,
    .repoTypes img:hover +.repoCocoIn p,
    .repoTypes img:hover +.repoTrufIn p,
    .repoTypes img:hover +.repoBolesIn p,
    .repoTypes img:hover +.repoFullIn p,
    .repoTypes img:hover +.repoMassIn p,
    .repoTypes img:hover +.repoTociIn p,
    .repoTypes img:hover +.repoManteIn p,
    .repoTypes img:hover +.repoAmetIn p,
    .repoTypes img:hover +.repoXocoIn p,
    .repoTypes img:hover +.repoPasteIn p,
    .repoTypes img:hover +.repoVariIn p{
        display: block;
    }
}
/* Tamaño Tablet Vertical*/
@media (min-width: 480px) and (max-width: 768px) {
    .repoGeneral img {
        height: 500px;
        width: 100%;
    }
    
    .repoPhoto1 {
        width: 100%;
        height: 500px;
        border-bottom:solid black  1px;
    }
    
    
    .repoGeneral h2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 28px;
        font-family: 'Playfair Display', serif;
        margin-top: 60px;
    }
    
    .repoGeneral p {
        text-align: justify;
        line-height: 1.8;
        margin-left: 100px;
        margin-right: 100px;
        font-size: 16px;
        color: #aea071;
        font-family: 'Quicksand', sans-serif;
        margin-bottom: 100px;
    }
    
    .repoTypes img {
        display: block;
        margin: 60px auto;
        width: 350px;
        height: 250px;
        border-radius: 30px;
    }
    
    .repoTypes img:hover{
        width: 350px;
        height: 250px;
        border-radius: 30px;
        position: relative;
        mask-image: linear-gradient(to top left, rgba(0, 0, 0, 1), transparent),
            linear-gradient(to top right, rgba(0, 0, 0, 1), transparent),
            linear-gradient(to bottom left, rgba(0, 0, 0, 1), transparent),
            linear-gradient(to bottom right, rgba(0, 0, 0, 1), transparent);
        mask-position: left top, right top, left bottom, right bottom;
        mask-size: 50% 50%;
        /* Controla la extensión del difuminado en cada esquina */
        mask-repeat: no-repeat;
        background-color: rgba(0, 0, 0, 0);
        /* Esto asegura que el fondo sea transparente */
    }
    
    .repoTypes img:hover +.repoLioIn,
    .repoTypes img:hover +.repoCocoIn,
    .repoTypes img:hover +.repoTrufIn,
    .repoTypes img:hover +.repoBolesIn,
    .repoTypes img:hover +.repoFullIn,
    .repoTypes img:hover +.repoMassIn,
    .repoTypes img:hover +.repoTociIn,
    .repoTypes img:hover +.repoManteIn,
    .repoTypes img:hover +.repoAmetIn,
    .repoTypes img:hover +.repoXocoIn,
    .repoTypes img:hover +.repoPasteIn,
    .repoTypes img:hover +.repoVariIn{
        width: 300px;
        height: 250px;
        display: flex;
        background: linear-gradient(to bottom, transparent, #aea071);
        font-size: 20px;
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    
    
    .repoLioIn,
    .repoCocoIn,
    .repoTrufIn,
    .repoBolesIn,
    .repoFullIn,
    .repoMassIn,
    .repoTociIn,
    .repoManteIn,
    .repoAmetIn,
    .repoXocoIn,
    .repoPasteIn,
    .repoVariIn{
        position: absolute;
        margin-right: 0px;
        background: linear-gradient(to bottom, transparent, #aea071);
        color:black;
        border-radius: 30px;
        margin-left: 50px;
        font-size: 16px;
        height: 40px;
        width: 180px
    }
    
    .repoLioIn h3,
    .repoCocoIn h3,
    .repoTrufIn h3,
    .repoBolesIn h3,
    .repoFullIn h3,
    .repoMassIn h3,
    .repoTociIn h3,
    .repoManteIn h3,
    .repoAmetIn h3,
    .repoXocoIn h3,
    .repoPasteIn h3,
    .repoVariIn h3{
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Playfair Display', serif;
        text-align: center;
        line-height:12px;
        font-size: 16px;
    }
    
    .repoTypes img:hover +.repoLioIn h3,
    .repoTypes img:hover +.repoCocoIn h3,
    .repoTypes img:hover +.repoTrufIn h3,
    .repoTypes img:hover +.repoBolesIn h3,
    .repoTypes img:hover +.repoFullIn h3,
    .repoTypes img:hover +.repoMassIn h3,
    .repoTypes img:hover +.repoTociIn h3,
    .repoTypes img:hover +.repoManteIn h3,
    .repoTypes img:hover +.repoAmetIn h3,
    .repoTypes img:hover +.repoXocoIn h3,
    .repoTypes img:hover +.repoPasteIn h3,
    .repoTypes img:hover +.repoVariIn h3{
        display: none;
    }
    
    .repoLio,
    .repoCoco,
    .repoTruf,
    .repoBoles,
    .repoFull,
    .repoMass,
    .repoToci,
    .repoMante,
    .repoAmet,
    .repoXoco,
    .repoPaste,
    .repoVari{
        position: relative;
        display:flex;
        align-items:start;
    }
    
    .repoLio p,
    .repoCoco p,
    .repoTruf p,
    .repoBoles p,
    .repoFull p,
    .repoMass p,
    .repoToci p,
    .repoMante p,
    .repoAmet p,
    .repoXoco p,
    .repoPaste p,
    .repoVari p{
        display: none;
        color: black
    }
    
    .repoTypes img:hover +.repoLioIn p,
    .repoTypes img:hover +.repoCocoIn p,
    .repoTypes img:hover +.repoTrufIn p,
    .repoTypes img:hover +.repoBolesIn p,
    .repoTypes img:hover +.repoFullIn p,
    .repoTypes img:hover +.repoMassIn p,
    .repoTypes img:hover +.repoTociIn p,
    .repoTypes img:hover +.repoManteIn p,
    .repoTypes img:hover +.repoAmetIn p,
    .repoTypes img:hover +.repoXocoIn p,
    .repoTypes img:hover +.repoPasteIn p,
    .repoTypes img:hover +.repoVariIn p{
        display: block;
    }
 }
/* Tamaño Tablet Horizontal*/
@media  (min-width: 768px) and (max-width: 1024px) { 
    .repoGeneral img {
        height: 500px;
        width: 100%;
    }
    
    .repoPhoto1 {
        width: 100%;
        height: 500px;
        border-bottom:solid black  1px;
    }
    
    
    .repoGeneral h2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 28px;
        font-family: 'Playfair Display', serif;
        margin-top: 60px;
        color: #514a34;
    }
    
    .repoGeneral p {
        text-align: justify;
        line-height: 1.8;
        margin-left: 100px;
        margin-right: 100px;
        font-size: 16px;
        color: #aea071;
        font-family: 'Quicksand', sans-serif;
        margin-bottom: 100px;
    }
    
    .repoTypes img {
        display: block;
        margin: 60px auto;
        width: 300px;
        height: 200px;
        border-radius: 30px;
    }
    
    .repoTypes img:hover{
        width: 350px;
        height: 250px;
        border-radius: 30px;
        position: relative;
        mask-image: linear-gradient(to top left, rgba(0, 0, 0, 1), transparent),
            linear-gradient(to top right, rgba(0, 0, 0, 1), transparent),
            linear-gradient(to bottom left, rgba(0, 0, 0, 1), transparent),
            linear-gradient(to bottom right, rgba(0, 0, 0, 1), transparent);
        mask-position: left top, right top, left bottom, right bottom;
        mask-size: 50% 50%;
        /* Controla la extensión del difuminado en cada esquina */
        mask-repeat: no-repeat;
        background-color: rgba(0, 0, 0, 0);
        /* Esto asegura que el fondo sea transparente */
    }
    
    .repoTypes img:hover +.repoLioIn,
    .repoTypes img:hover +.repoCocoIn,
    .repoTypes img:hover +.repoTrufIn,
    .repoTypes img:hover +.repoBolesIn,
    .repoTypes img:hover +.repoFullIn,
    .repoTypes img:hover +.repoMassIn,
    .repoTypes img:hover +.repoTociIn,
    .repoTypes img:hover +.repoManteIn,
    .repoTypes img:hover +.repoAmetIn,
    .repoTypes img:hover +.repoXocoIn,
    .repoTypes img:hover +.repoPasteIn,
    .repoTypes img:hover +.repoVariIn{
        width: 300px;
        height: 250px;
        display: flex;
        background: linear-gradient(to bottom, transparent, #aea071);
        font-size: 20px;
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    
    
    .repoLioIn,
    .repoCocoIn,
    .repoTrufIn,
    .repoBolesIn,
    .repoFullIn,
    .repoMassIn,
    .repoTociIn,
    .repoManteIn,
    .repoAmetIn,
    .repoXocoIn,
    .repoPasteIn,
    .repoVariIn{
        position: absolute;
        margin-right: 0px;
        background: linear-gradient(to bottom, transparent, #aea071);
        color:black;
        border-radius: 30px;
        margin-left: 50px;
        font-size: 16px;
        height: 40px;
        width: 180px
    }
    
    .repoLioIn h3,
    .repoCocoIn h3,
    .repoTrufIn h3,
    .repoBolesIn h3,
    .repoFullIn h3,
    .repoMassIn h3,
    .repoTociIn h3,
    .repoManteIn h3,
    .repoAmetIn h3,
    .repoXocoIn h3,
    .repoPasteIn h3,
    .repoVariIn h3{
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Playfair Display', serif;
        text-align: center;
        line-height:12px;
        font-size: 16px;
    }
    
    .repoTypes img:hover +.repoLioIn h3,
    .repoTypes img:hover +.repoCocoIn h3,
    .repoTypes img:hover +.repoTrufIn h3,
    .repoTypes img:hover +.repoBolesIn h3,
    .repoTypes img:hover +.repoFullIn h3,
    .repoTypes img:hover +.repoMassIn h3,
    .repoTypes img:hover +.repoTociIn h3,
    .repoTypes img:hover +.repoManteIn h3,
    .repoTypes img:hover +.repoAmetIn h3,
    .repoTypes img:hover +.repoXocoIn h3,
    .repoTypes img:hover +.repoPasteIn h3,
    .repoTypes img:hover +.repoVariIn h3{
        display: none;
    }
    
    .repoLio,
    .repoCoco,
    .repoTruf,
    .repoBoles,
    .repoFull,
    .repoMass,
    .repoToci,
    .repoMante,
    .repoAmet,
    .repoXoco,
    .repoPaste,
    .repoVari{
        position: relative;
        display:flex;
        align-items:start;
    }
    
    .repoLio p,
    .repoCoco p,
    .repoTruf p,
    .repoBoles p,
    .repoFull p,
    .repoMass p,
    .repoToci p,
    .repoMante p,
    .repoAmet p,
    .repoXoco p,
    .repoPaste p,
    .repoVari p{
        display: none;
        color: black
    }
    
    .repoTypes img:hover +.repoLioIn p,
    .repoTypes img:hover +.repoCocoIn p,
    .repoTypes img:hover +.repoTrufIn p,
    .repoTypes img:hover +.repoBolesIn p,
    .repoTypes img:hover +.repoFullIn p,
    .repoTypes img:hover +.repoMassIn p,
    .repoTypes img:hover +.repoTociIn p,
    .repoTypes img:hover +.repoManteIn p,
    .repoTypes img:hover +.repoAmetIn p,
    .repoTypes img:hover +.repoXocoIn p,
    .repoTypes img:hover +.repoPasteIn p,
    .repoTypes img:hover +.repoVariIn p{
        display: block;
    }

    .repoTypes {
        display: flex;
        flex-wrap: wrap;
    }
    
    .repoTypes > * {
        flex: 0 0 calc(50% - 20px); /* Establece el ancho de los elementos en 2 columnas */
        margin: 10px; /* Añade un margen entre los elementos */
    }
}
/* Tamaño Pantalla*/
@media (min-width: 1024px) {
    .repoGeneral img {
        height: 500px;
        width: 100%;
    }
    
    .repoPhoto1 {
        width: 100%;
        height: 500px;
        border-bottom:solid black  1px;
    }
    
    
    .repoGeneral h2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 28px;
        font-family: 'Playfair Display', serif;
        margin-top: 60px;
        color: #514a34;
    }
    
    .repoGeneral p {
        text-align: justify;
        line-height: 1.8;
        margin-left: 200px;
        margin-right: 200px;
        font-size: 16px;
        color: #aea071;
        font-family: 'Quicksand', sans-serif;
        margin-bottom: 100px;
    }
    
    .repoTypes img {
        display: block;
        margin: 60px auto;
        width: 300px;
        height: 200px;
        border-radius: 30px;
    }
    
    .repoTypes img:hover{
        width: 350px;
        height: 250px;
        border-radius: 30px;
        position: relative;
        mask-image: linear-gradient(to top left, rgba(0, 0, 0, 1), transparent),
            linear-gradient(to top right, rgba(0, 0, 0, 1), transparent),
            linear-gradient(to bottom left, rgba(0, 0, 0, 1), transparent),
            linear-gradient(to bottom right, rgba(0, 0, 0, 1), transparent);
        mask-position: left top, right top, left bottom, right bottom;
        mask-size: 50% 50%;
        /* Controla la extensión del difuminado en cada esquina */
        mask-repeat: no-repeat;
        background-color: rgba(0, 0, 0, 0);
        /* Esto asegura que el fondo sea transparente */
    }
    
    .repoTypes img:hover +.repoLioIn,
    .repoTypes img:hover +.repoCocoIn,
    .repoTypes img:hover +.repoTrufIn,
    .repoTypes img:hover +.repoBolesIn,
    .repoTypes img:hover +.repoFullIn,
    .repoTypes img:hover +.repoMassIn,
    .repoTypes img:hover +.repoTociIn,
    .repoTypes img:hover +.repoManteIn,
    .repoTypes img:hover +.repoAmetIn,
    .repoTypes img:hover +.repoXocoIn,
    .repoTypes img:hover +.repoPasteIn,
    .repoTypes img:hover +.repoVariIn{
        width: 300px;
        height: 250px;
        display: flex;
        background: linear-gradient(to bottom, transparent, #aea071);
        font-size: 20px;
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    
    
    .repoLioIn,
    .repoCocoIn,
    .repoTrufIn,
    .repoBolesIn,
    .repoFullIn,
    .repoMassIn,
    .repoTociIn,
    .repoManteIn,
    .repoAmetIn,
    .repoXocoIn,
    .repoPasteIn,
    .repoVariIn{
        position: absolute;
        margin-right: 0px;
        background: linear-gradient(to bottom, transparent, #aea071);
        color:black;
        border-radius: 30px;
        margin-left: 50px;
        font-size: 16px;
        height: 40px;
        width: 180px
    }
    
    .repoLioIn h3,
    .repoCocoIn h3,
    .repoTrufIn h3,
    .repoBolesIn h3,
    .repoFullIn h3,
    .repoMassIn h3,
    .repoTociIn h3,
    .repoManteIn h3,
    .repoAmetIn h3,
    .repoXocoIn h3,
    .repoPasteIn h3,
    .repoVariIn h3{
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Playfair Display', serif;
        text-align: center;
        line-height:12px;
        font-size: 16px;
    }
    
    .repoTypes img:hover +.repoLioIn h3,
    .repoTypes img:hover +.repoCocoIn h3,
    .repoTypes img:hover +.repoTrufIn h3,
    .repoTypes img:hover +.repoBolesIn h3,
    .repoTypes img:hover +.repoFullIn h3,
    .repoTypes img:hover +.repoMassIn h3,
    .repoTypes img:hover +.repoTociIn h3,
    .repoTypes img:hover +.repoManteIn h3,
    .repoTypes img:hover +.repoAmetIn h3,
    .repoTypes img:hover +.repoXocoIn h3,
    .repoTypes img:hover +.repoPasteIn h3,
    .repoTypes img:hover +.repoVariIn h3{
        display: none;
    }
    
    .repoLio,
    .repoCoco,
    .repoTruf,
    .repoBoles,
    .repoFull,
    .repoMass,
    .repoToci,
    .repoMante,
    .repoAmet,
    .repoXoco,
    .repoPaste,
    .repoVari{
        position: relative;
        display:flex;
        align-items:start;
    }
    
    .repoLio p,
    .repoCoco p,
    .repoTruf p,
    .repoBoles p,
    .repoFull p,
    .repoMass p,
    .repoToci p,
    .repoMante p,
    .repoAmet p,
    .repoXoco p,
    .repoPaste p,
    .repoVari p{
        display: none;
        color: black
    }
    
    .repoTypes img:hover +.repoLioIn p,
    .repoTypes img:hover +.repoCocoIn p,
    .repoTypes img:hover +.repoTrufIn p,
    .repoTypes img:hover +.repoBolesIn p,
    .repoTypes img:hover +.repoFullIn p,
    .repoTypes img:hover +.repoMassIn p,
    .repoTypes img:hover +.repoTociIn p,
    .repoTypes img:hover +.repoManteIn p,
    .repoTypes img:hover +.repoAmetIn p,
    .repoTypes img:hover +.repoXocoIn p,
    .repoTypes img:hover +.repoPasteIn p,
    .repoTypes img:hover +.repoVariIn p{
        display: block;
    }

    .repoTypes {
        display: flex;
        flex-wrap: wrap;
    }

    .repoTypes > * {
        flex: 0 0 calc(33.33% - 20px); /* Establece el ancho de los elementos en 2 columnas */
        margin: 10px; /* Añade un margen entre los elementos */
    }
 }

