

.image2,
.image3,
.image4,
.image5,
.image6,
.image7 {
    height: 340px;
    width: 580px;
    border-radius: 20px;
    margin-top: 20px;
}



.homePhoto1 {
    width: 100%;
    height: 400px;
}

.homePhoto1 img {
    width: 100%;
    height: 520px;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;

}

.homeTeam p{
    padding: 40px;
}
.homeTeam{
    border-bottom:solid #aea071 7px;
    border-top:solid #aea071  7px;
}
.homeTeam,
.homeTeam p{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color :white;
    color: #aea071;
    font-size:20px;
    text-align: justify;
    line-height: 1.8;
}

.homeTeam a {
    display: inline-block;
    background-color: white;
    color: #aea071;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    width: 300px;
    margin-top: 20px;
    font-size:20px;
    text-align: center;
    border-radius: 20px 20px;
    
}

.homeTeam a:hover {
    height: 28px;
    background-color: white;
    color: #aea071;
    transform: scale(1.1);
    border-radius: 20px 20px;
    box-shadow: 0 8px 10px #aea071;
}

.homeRepost p{
    padding: 40px;
    border-bottom:solid #aea071 7px;
}
.homeRepost,
.homeRepost p {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: #aea071;
    font-size:20px;
    
    text-align: center;
    line-height: 1.8;
    
}

.homeRepost a {
    display: inline-block;
    background-color: white;
    color: #aea071;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    width: 300px;
    margin-top: 20px;
    font-size:20px;
    text-align: center;
}

.homeRepost a:hover {
    height: 28px;
    background-color: white;
    color: #aea071;
    transform: scale(1.1);
    border-radius: 20px 20px;
    box-shadow: 0 8px 10px #aea071;
}

.homePastel p{
    padding: 40px;
    border-bottom:solid #aea071 7px;
}
.homePastel,
.homePastel p {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: #aea071;
    font-size:20px;
    text-align: center;
    line-height: 1.8;
    
}

.homePastel a {
    display: inline-block;
    background-color: white;
    color: #aea071;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    width: 300px;
    margin-top: 20px;
    font-size:20px;
    text-align: center;
}

.homePastel a:hover {
    height: 28px;
    background-color: white;
    color: #aea071;
    transform: scale(1.1);
    border-radius: 20px 20px;
    box-shadow: 0 8px 10px #aea071;
}

.homeBriox p{
    padding: 40px;
    border-bottom:solid #aea071 7px;
}
.homeBriox,
.homeBriox p {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: #aea071;
    font-size:20px;
    text-align: center;
    line-height: 1.8;
   
}

.homeBriox a {
    display: inline-block;
    background-color: white;
    color: #aea071;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    width: 300px;
    margin-top: 20px;
    font-size:20px;
    text-align: center;
}

.homeBriox a:hover {
    height: 28px;
    background-color: white;
    color: #aea071;
    transform: scale(1.1);
    border-radius: 20px 20px;
    box-shadow: 0 8px 10px #aea071;
}

.homeDays p{
    padding: 40px;
    border-bottom:solid #aea071 7px;
}
.homeDays,
.homeDays p {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: #aea071;
    font-size:20px;
   
    text-align: center;
    line-height: 1.8;
    
}

.homeDays a {
    display: inline-block;
    background-color: white;
    color: #aea071;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    width: 300px;
    margin-top: 20px;
    font-size:20px;
    text-align: center;
}

.homeDays a:hover {
    height: 28px;
    background-color: white;
    color: #aea071;
    transform: scale(1.1);
    border-radius: 20px 20px;
    box-shadow: 0 8px 10px #aea071;
}

.homeDrinks p{
    padding: 40px;
}
.homeDrinks{
    border-bottom:solid #aea071 7px;
}

.homeDrinks,
.homeDrinks p {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: #aea071;
    font-size:20px;
    text-align: center;
    line-height: 1.8;
}

.homeDrinks a {
    display: inline-block;
    background-color: white;
    color: #aea071;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    width: 300px;
    margin-top: 20px;
    font-size:20px;
    text-align: center;
}

.homeDrinks a:hover {
    height: 28px;
    background-color: white;
    color: #aea071;
    transform: scale(1.1);
    border-radius: 20px 20px;
    box-shadow: 0 8px 10px #aea071;
}