
.allMain img {
    height: 200px;
    width: 300px;
}

.homePhoto1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.homeTeam {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.homeRepost {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.homePastel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.homeBriox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.homeDays {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.homeDrinks {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

