.briGeneral img {
    height: 500px;
    width: 100%;
}

.briPhoto1 {
    width: 100%;
    height: 500px;
}

.briGeneral,
.briGeneral h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}