.daysGeneral img {
    height: 500px;
    width: 100%;
}

.daysPhoto1 {
    width: 100%;
    height: 500px;
}

.daysGeneral,
.daysGeneral h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}