.headerGeneral {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #aea071;
    
    
}

.headerNav ul {
    list-style: none;
    display: flex;

}

.headerNav li {
    margin-right: 15px;
    margin-left: 10px
}

.headerNav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}