.headerGeneral {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    border:solid rgb(224, 192, 12) 3px;
    
}

.headerNav ul {
    list-style: none;
    display: flex;

}

.headerNav li {
    margin-right: 15px;
    margin-left: 10px
}

.headerNav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}