/* Tamaño movil*/
@media (max-width: 580px) {

    .headerNav ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        /* Mostrar los enlaces uno debajo del otro */
        margin: 20px 0;
        /* Agregar margen para separar los enlaces del botón "Menú" */
        padding: 40px;
        background: rgba(174, 160, 113, 0.9);
        position: absolute;
        top: 40px;
        left: 0;
    }

    .headerNav.open ul {
        display: flex;
        flex-direction: column;
        /* Mostrar los enlaces uno debajo del otro cuando el menú esté abierto */
    }

    .menuButton {
        background: #aea071;
        border: none;
        padding: 10px;
        font-family: 'Quicksand', sans-serif;
        cursor: pointer;
        font-size: 16px;
        color: #5f5636;
    }

    .headerGeneral {
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #aea071;
    }

    .headerNav a {
        text-decoration: none;
        color: #5f5636;
        font-size: 18px;
        font-family: 'Quicksand', sans-serif;
    }

    .headerNav li {
        margin-right: 0;
        /* Eliminar el margen derecho para que los enlaces estén centrados */
        margin-bottom: 20px;
        /* Agregar margen inferior para separar los enlaces */
    }


}

/* Tamaño Tablet Vertical*/
@media (min-width: 580px) and (max-width: 768px) {
    .headerGeneral {
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #aea071;
    }

    .headerNav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 100%;
        padding: 0 20px;
    }

    .headerNav ul {
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;
    }

    .headerNav li {
        margin-right: 15px;
        margin-left: 20px;
    }

    .headerNav a {
        text-decoration: none;
        color: #5f5636;
        font-size: 13px;
        font-family: 'Quicksand', sans-serif;
    }

    .menuButton.hide {
        display: none;
        /* Oculta el botón de menú cuando se hace clic */
    }

    .menuButton {
        background: #aea071;
        border: none;
        padding: 10px;
        font-family: 'Quicksand', sans-serif;
        cursor: pointer;
        font-size: 16px;
        color: #5f5636;
    }
}

/* Tamaño Tablet Horizontal*/
@media (min-width: 768px) and (max-width: 1024px) {
    .headerGeneral {
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #aea071;
    }

    .headerNav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 100%;
        padding: 0 20px;
    }

    .headerNav ul {
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;
    }

    .headerNav li {
        margin-right: 35px;
        margin-left: 20px;
    }

    .headerNav a {
        text-decoration: none;
        color: #5f5636;
        font-size: 15px;
        font-family: 'Quicksand', sans-serif;
    }

    .menuButton {
        background: #aea071;
        border: none;
        padding: 10px;
        font-family: 'Quicksand', sans-serif;
        cursor: pointer;
        font-size: 16px;
        color: #5f5636;
    }

    .menuButton.hide {
        display: none;
        /* Oculta el botón de menú cuando se hace clic */
    }

}

/* Tamaño Pantalla*/
@media(min-width: 1024px) {
    .headerGeneral {
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #aea071;

    }


    .headerNav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 100%;
        padding: 0 20px;
    }


    .headerNav ul {
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;
    }


    .headerNav li {
        margin-right: 45px;
        margin-left: 30px;
    }


    .headerNav a {
        text-decoration: none;
        color: #5f5636;
        font-size: 16px;
        font-family: 'Quicksand', sans-serif;
    }

    .menuButton.hide {
        display: none;
        /* Oculta el botón de menú cuando se hace clic */
    }

    .menuButton {
        background: #aea071;
        border: none;
        padding: 10px;
        font-family: 'Quicksand', sans-serif;
        cursor: pointer;
        font-size: 16px;
        color: #5f5636;
    }

}