.footerGeneral {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footerGeneral img {
    height: 90px;
    width: 90px
}

.contacto {
    background-color: white;
    padding: 2cm;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    border-top: white 1px solid;
}

/* Estilos para cada elemento dentro del formulario */
.contacto-name,
.contacto-email,
.contacto-message,
.contacto-submit {
    margin-bottom: 0.5cm;
    width: 100%;

}

/* Estilos para etiquetas (labels) */
.contacto label {
    color: black;
    display: block;
    margin-bottom: 5px;
}

/* Estilos para inputs y textarea */
.contacto input,
.contacto textarea {
    width: 450px;
    padding: 0.5em;
    box-sizing: border-box;
    background-color: rgba(128, 128, 128, 0.587);
    border-radius: 80px 20px;
    text-align: center;
    color: white;
}

.contacto textarea[name="message"] {
    height: 10em;
    /* Definimos una altura de 10em para el textarea del mensaje */
    border-radius: 8px
}

/* Estilos para el botón de envío */
.contacto-submit input[type="submit"] {
    background-color: gray;
    color: black;
    cursor: pointer;
    border-radius: 80px 20px;
}

/* Estilos para el botón de envío al pasar el ratón */
.contacto-submit input[type="submit"]:hover {
    background-color: #45a049;
}