/* Tamaño movil*/
@media (max-width: 580px) {
    .footerGeneral {
        font-size: 14px;
        background-color: #aea071;
        display: flex;
        flex-direction: column;
        /* Cambiamos a flex-direction: column para apilar verticalmente los elementos */
        justify-content: center;
        align-items: center;
        color: black;
        border-top: solid black 1px;
        font-family: 'Quicksand', sans-serif;
    }

    .footerContent {
        width: 100%;
        max-width: 700px;
    }

    .footerContacto,
    .footerContacto p {
        width: 100%;
        display: flex;
        /* Aplicamos flexbox a footerContacto */
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        background-color: #aea071;
        color: #5f5636;

    }
    .checkbox a{
        text-decoration: none;
        color: #5f5636;
        font-size: 10px;
    }

    .footerHorario,
    .footerTelefon,
    .footerDireccio {
        width: 100%;
        text-align: center;
        background-color: #aea071;
        color: #5f5636;
        margin: 10px 0;
    }

    .footerMensaje {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #aea071;
        color: #5f5636;
        text-align: center;
        border-bottom: 1px solid #5f5636;
        border-top: 1px solid #5f5636;
    }



    input[type="text"],
    input[type="email"],
    textarea {
        height: 10px;
        width: 330px;
        padding: 10px;
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-top: 7px;
    }

    textarea {
        height: 10px;
        /* Hace que el textarea sea más grande */
    }

    .contacto-submit {
        text-align: center;
    }

    /* Estilos para el botón */
    input[type="submit"] {
        padding: 10px 20px;
        background-color: #837852;
        color: black;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-bottom: 20px;
    }

    .footerLinkedin {
        font-size: 10px;
        width: 100%;
        height: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;

        background-color: #aea071;
        color: black;
    }

    .footerLinkedin a {
        color: black;
        text-decoration: none;
    }

    .footerLinkedin a:hover {
        color: white;
        text-decoration: none;
    }

    .logoLF {
        max-width: 70px;
        height: auto;
        margin-top: 20px;
    }

    .logoLF:hover {
        transform: scale(1.8);
    }
}

/* Tamaño Tablet Vertical*/
@media (min-width: 580px) and (max-width: 768px) {
    .footerGeneral {
        font-size: 14px;
        background-color: #aea071;
        display: flex;
        flex-direction: column;
        /* Cambiamos a flex-direction: column para apilar verticalmente los elementos */
        justify-content: center;
        align-items: center;
        color: black;
        border-top: solid black 1px;
        font-family: 'Quicksand', sans-serif;
    }

    .footerContent {
        width: 100%;
    }

    .footerContacto,
    .footerContacto p {
        width: 100%;
        display: flex;
        /* Aplicamos flexbox a footerContacto */
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        background-color: #aea071;
        color: #5f5636;
    }
    .checkbox a{
        text-decoration: none;
        color: #5f5636;
        font-size: 12px;
    }

    .footerHorario,
    .footerTelefon,
    .footerDireccio {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background-color: #aea071;
        color: #5f5636;
    }

    .mapLink {
        margin-top: 0;
    }

    .footerMensaje {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #aea071;
        color: #5f5636;
        text-align: center;
        border-top: 1px solid #5f5636;
        border-bottom: 1px solid #5f5636;
    }



    input[type="text"],
    input[type="email"],
    textarea {
        height: 10px;
        width: 330px;
        padding: 10px;
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-top: 7px;
    }

    textarea {
        height: 10px;
        /* Hace que el textarea sea más grande */
    }

    .contacto-submit {
        text-align: center;
    }

    /* Estilos para el botón */
    input[type="submit"] {
        padding: 10px 20px;
        background-color: #837852;
        color: black;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-bottom: 20px;
    }




    .footerLinkedin {
        font-size: 12px;
        width: 100%;
        height: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        background-color: #aea071;
        color: black;

    }

    .footerLinkedin a {
        color: black;
        text-decoration: none;
    }

    .footerLinkedin a:hover {
        color: white;
        text-decoration: none;
    }

    .logoLF {
        max-width: 70px;
        height: auto;
        margin-top: 20px;
    }

    .logoLF:hover {
        transform: scale(1.8);
    }

}

/* Tamaño Tablet Horizontal*/
@media (min-width: 768px) and (max-width: 1024px) {
    .footerGeneral {
        font-size: 15px;
        background-color: #aea071;
        display: flex;
        flex-direction: column;
        /* Cambiamos a flex-direction: column para apilar verticalmente los elementos */
        justify-content: center;
        align-items: center;
        color: black;
        border-top: solid black 1px;
        font-family: 'Quicksand', sans-serif;
    }

    .footerContent {
        width: 100%;
    }

    .footerContacto,
    .footerContacto p {
        width: 100%;
        display: flex;
        /* Aplicamos flexbox a footerContacto */
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        background-color: #aea071;
        color: #5f5636;
    }

    .checkbox a{
        text-decoration: none;
        color: #5f5636;
        font-size: 12px;
    }

    .footerHorario,
    .footerTelefon,
    .footerDireccio {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background-color: #aea071;
        color: #5f5636;
    }

    .mapLink {
        margin-top: 0;
    }

    .footerMensaje {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #aea071;
        color: #5f5636;
        text-align: center;
        border-top: 1px solid #5f5636;
        border-bottom: 1px solid #5f5636;
    }



    input[type="text"],
    input[type="email"],
    textarea {
        height: 10px;
        width: 330px;
        padding: 10px;
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-top: 7px;
    }

    textarea {
        height: 40px;
        /* Hace que el textarea sea más grande */
    }

    .contacto-submit {
        text-align: center;
    }

    /* Estilos para el botón */
    input[type="submit"] {
        padding: 10px 20px;
        background-color: #837852;
        color: black;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-bottom: 20px;
    }




    .footerLinkedin {
        font-size: 12px;
        width: 100%;
        height: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        background-color: #aea071;
        color: black;

    }

    .footerLinkedin a {
        color: black;
        text-decoration: none;
    }

    .footerLinkedin a:hover {
        color: white;
        text-decoration: none;
    }

    .logoLF {
        max-width: 70px;
        height: auto;
        margin-top: 20px;
    }

    .logoLF:hover {
        transform: scale(1.8);
    }

}

/* Tamaño Pantalla*/
@media(min-width: 1024px) {
    .footerGeneral {
        font-size: 16px;
        background-color: #aea071;
        display: flex;
        flex-direction: column;
        /* Cambiamos a flex-direction: column para apilar verticalmente los elementos */
        justify-content: center;
        align-items: center;
        color: black;
        border-top: solid black 1px;
        font-family: 'Quicksand', sans-serif;
    }

    .footerContent {
        width: 100%;
    }

    .footerContacto,
    .footerContacto p {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        background-color: #aea071;
        color: #5f5636;
    }

    .checkbox a{
        text-decoration: none;
        color: #5f5636;
        font-size: 12px;
    }

    .footerHorario,
    .footerTelefon,
    .footerDireccio {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background-color: #aea071;
        color: #5f5636;
    }

    .mapLink {
        margin-top: 0;
    }

    .footerMensaje {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #aea071;
        color: #5f5636;
        text-align: center;
        border-top: 1px solid #5f5636;
        border-bottom: 1px solid #5f5636;
    }



    input[type="text"],
    input[type="email"],
    textarea {
        height: 10px;
        width: 430px;
        padding: 10px;
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-top: 7px;
    }

    textarea {
        height: 50px;
        /* Hace que el textarea sea más grande */
    }

    .contacto-submit {
        text-align: center;
    }

    /* Estilos para el botón */
    input[type="submit"] {
        padding: 10px 20px;
        background-color: #837852;
        color: black;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-bottom: 20px;
    }




    .footerLinkedin {
        font-size: 12px;
        width: 100%;
        height: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        background-color: #aea071;
        color: black;

    }

    .footerLinkedin a {
        color: black;
        text-decoration: none;
    }

    .footerLinkedin a:hover {
        color: white;
        text-decoration: none;
    }

    .logoLF {
        max-width: 70px;
        height: auto;
        margin-top: 20px;
    }

    .logoLF:hover {
        transform: scale(1.8);
    }
}