.pasteGeneral img {
    height: 500px;
    width:100%;
}

.pastePhoto1,
.pasteGeneral,
.pasteGeneral h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}