/* Tamaño movil*/
@media all and (max-width: 480px) { }
/* Tamaño Tablet Vertical*/
@media all and (min-width: 480px) and (max-width: 768px) { 
    .drinksGeneral img {
        height: 500px;
        width: 100%;
    }
    
    .drinksPhoto1 {
        width: 100%;
        height: 500px;
        border-bottom: solid black 1px;
    }
    
    .drinksGeneral h2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 28px;
        font-family: 'Playfair Display', serif;
        margin-top: 60px;
        color: #514a34;
    }
    
    .drinksGeneral p {
        text-align: justify;
        line-height: 1.8;
        margin-left: 100px;
        margin-right: 100px;
        font-size: 16px;
        color: #aea071;
        font-family: 'Quicksand', sans-serif;
        margin-bottom: 100px;
    }
    
    .drinksCava img,
    .drinksVi img,
    .drinksRata img {
        display: block;
        margin: auto;
        width: 250px;
        height: 250px;
        margin-bottom: 100px;
        
    }
    
    
    
    .drinksTypes img:hover {
        width: 250px;
        height: 250px;
        border-radius: 30px;
        position: relative;
        mask-image: linear-gradient(to top left, rgba(0, 0, 0, 1), transparent),
            linear-gradient(to top right, rgba(0, 0, 0, 1), transparent),
            linear-gradient(to bottom left, rgba(0, 0, 0, 1), transparent),
            linear-gradient(to bottom right, rgba(0, 0, 0, 1), transparent);
        mask-position: left top, right top, left bottom, right bottom;
        mask-size: 50% 50%;
        /* Controla la extensión del difuminado en cada esquina */
        mask-repeat: no-repeat;
        background-color: rgba(0, 0, 0, 0);
        /* Esto asegura que el fondo sea transparente */
    }
    
    .drinksTypes img:hover + .cava1In,
    .drinksTypes img:hover + .cava2In,
    .drinksTypes img:hover + .cava3In,
    .drinksTypes img:hover + .cava4In,
    .drinksTypes img:hover + .cava5In,
    .drinksTypes img:hover + .vino1In,
    .drinksTypes img:hover + .vino2In,
    .drinksTypes img:hover + .vino3In,
    .drinksTypes img:hover + .vino4In,
    .drinksTypes img:hover + .vino5In,
    .drinksTypes img:hover + .rata1In,
    .drinksTypes img:hover + .rata2In,
    .drinksTypes img:hover + .rata3In{
        width: 300px;
        height: 250px;
        display: flex;
        background: linear-gradient(to bottom, transparent, #aea071);
        font-size: 20px;
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .cava1In,
    .cava2In,
    .cava3In,
    .cava4In,
    .cava5In,
    .vino1In,
    .vino2In,
    .vino3In,
    .vino4In,
    .vino5In,
    .rata1In,
    .rata2In,
    .rata3In{
        position: absolute;
        margin-right: 0px;
        background: linear-gradient(to bottom, transparent, #aea071);
        color:black;
        border-radius: 30px;
        margin-left: 50px;
        font-size: 16px;
        height: 40px;
        width: 180px;
        text-align: center;
        
    }
    
    .cava1In h3,
    .cava2In h3,
    .cava3In h3,
    .cava4In h3,
    .cava5In h3,
    .vino1In h3,
    .vino2In h3,
    .vino3In h3,
    .vino4In h3,
    .vino5In h3,
    .rata1In h3,
    .rata2In h3,
    .rata3In h3{
        font-family: 'Playfair Display', serif;
        line-height:12px;
        font-size: 16px;
    }
    
    .drinksTypes img:hover+.cava1In h3,
    .drinksTypes img:hover+.cava2In h3,
    .drinksTypes img:hover+.cava3In h3,
    .drinksTypes img:hover+.cava4In h3,
    .drinksTypes img:hover+.cava5In h3,
    .drinksTypes img:hover+.vino1In h3,
    .drinksTypes img:hover+.vino2In h3,
    .drinksTypes img:hover+.vino3In h3,
    .drinksTypes img:hover+.vino4In h3,
    .drinksTypes img:hover+.vino5In h3,
    .drinksTypes img:hover+.rata1In h3,
    .drinksTypes img:hover+.rata2In h3,
    .drinksTypes img:hover+.rata3In h3{
        display: none;
    }
    
    .cava1,
    .cava2,
    .cava3,
    .cava4,
    .cava5,
    .vino1,
    .vino2,
    .vino3,
    .vino4,
    .vino5,
    .rata1,
    .rata2,
    .rata3{
        position: relative;
        display: flex;
        align-items:start;
    }
    
    .cava1 p,
    .cava2 p,
    .cava3 p,
    .cava4 p,
    .cava5 p,
    .vino1 p,
    .vino2 p,
    .vino3 p,
    .vino4 p,
    .vino5 p,
    .rata1 p,
    .rata2 p,
    .rata3 p{
        display: none;
        color: black
    }
    
    .drinksTypes img:hover+.cava1In p,
    .drinksTypes img:hover+.cava2In p,
    .drinksTypes img:hover+.cava3In p,
    .drinksTypes img:hover+.cava4In p,
    .drinksTypes img:hover+.cava5In p,
    .drinksTypes img:hover+.vino1In p,
    .drinksTypes img:hover+.vino2In p,
    .drinksTypes img:hover+.vino3In p,
    .drinksTypes img:hover+.vino4In p,
    .drinksTypes img:hover+.vino5In p,
    .drinksTypes img:hover+.rata1In p,
    .drinksTypes img:hover+.rata1In p,
    .drinksTypes img:hover+.rata2In p,
    .drinksTypes img:hover+.rata3In p{
        display: block;
    }
     
}
/* Tamaño Tablet Horizontal*/
@media all and (min-width: 768px) and (max-width: 1024px) { 
    .drinksGeneral img {
        height: 500px;
        width: 100%;
    }
    
    .drinksPhoto1 {
        width: 100%;
        height: 500px;
        border-bottom: solid black 1px;
    }
    
    .drinksGeneral h2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 28px;
        font-family: 'Playfair Display', serif;
        margin-top: 60px;
        color: #514a34;
    }
    
    .drinksGeneral p {
        text-align: justify;
        line-height: 1.8;
        margin-left: 100px;
        margin-right: 100px;
        font-size: 16px;
        color: #aea071;
        font-family: 'Quicksand', sans-serif;
        margin-bottom: 100px;
    }
    
    .drinksCava img,
    .drinksVi img,
    .drinksRata img {
        display: block;
        margin: auto;
        width: 250px;
        height: 250px;
        margin-bottom: 100px;
        
    }
    
    
    
    .drinksTypes img:hover {
        width: 250px;
        height: 250px;
        border-radius: 30px;
        position: relative;
        mask-image: linear-gradient(to top left, rgba(0, 0, 0, 1), transparent),
            linear-gradient(to top right, rgba(0, 0, 0, 1), transparent),
            linear-gradient(to bottom left, rgba(0, 0, 0, 1), transparent),
            linear-gradient(to bottom right, rgba(0, 0, 0, 1), transparent);
        mask-position: left top, right top, left bottom, right bottom;
        mask-size: 50% 50%;
        /* Controla la extensión del difuminado en cada esquina */
        mask-repeat: no-repeat;
        background-color: rgba(0, 0, 0, 0);
        /* Esto asegura que el fondo sea transparente */
    }
    
    .drinksTypes img:hover + .cava1In,
    .drinksTypes img:hover + .cava2In,
    .drinksTypes img:hover + .cava3In,
    .drinksTypes img:hover + .cava4In,
    .drinksTypes img:hover + .cava5In,
    .drinksTypes img:hover + .vino1In,
    .drinksTypes img:hover + .vino2In,
    .drinksTypes img:hover + .vino3In,
    .drinksTypes img:hover + .vino4In,
    .drinksTypes img:hover + .vino5In,
    .drinksTypes img:hover + .rata1In,
    .drinksTypes img:hover + .rata2In,
    .drinksTypes img:hover + .rata3In{
        width: 300px;
        height: 250px;
        display: flex;
        background: linear-gradient(to bottom, transparent, #aea071);
        font-size: 20px;
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .cava1In,
    .cava2In,
    .cava3In,
    .cava4In,
    .cava5In,
    .vino1In,
    .vino2In,
    .vino3In,
    .vino4In,
    .vino5In,
    .rata1In,
    .rata2In,
    .rata3In{
        position: absolute;
        margin-right: 0px;
        background: linear-gradient(to bottom, transparent, #aea071);
        color:black;
        border-radius: 30px;
        margin-left: 50px;
        font-size: 16px;
        height: 40px;
        width: 180px;
        text-align: center;
        
    }
    
    .cava1In h3,
    .cava2In h3,
    .cava3In h3,
    .cava4In h3,
    .cava5In h3,
    .vino1In h3,
    .vino2In h3,
    .vino3In h3,
    .vino4In h3,
    .vino5In h3,
    .rata1In h3,
    .rata2In h3,
    .rata3In h3{
        font-family: 'Playfair Display', serif;
        line-height:12px;
        font-size: 16px;
    }
    
    .drinksTypes img:hover+.cava1In h3,
    .drinksTypes img:hover+.cava2In h3,
    .drinksTypes img:hover+.cava3In h3,
    .drinksTypes img:hover+.cava4In h3,
    .drinksTypes img:hover+.cava5In h3,
    .drinksTypes img:hover+.vino1In h3,
    .drinksTypes img:hover+.vino2In h3,
    .drinksTypes img:hover+.vino3In h3,
    .drinksTypes img:hover+.vino4In h3,
    .drinksTypes img:hover+.vino5In h3,
    .drinksTypes img:hover+.rata1In h3,
    .drinksTypes img:hover+.rata2In h3,
    .drinksTypes img:hover+.rata3In h3{
        display: none;
    }
    
    .cava1,
    .cava2,
    .cava3,
    .cava4,
    .cava5,
    .vino1,
    .vino2,
    .vino3,
    .vino4,
    .vino5,
    .rata1,
    .rata2,
    .rata3{
        position: relative;
        display: flex;
        align-items:start;
    }
    
    .cava1 p,
    .cava2 p,
    .cava3 p,
    .cava4 p,
    .cava5 p,
    .vino1 p,
    .vino2 p,
    .vino3 p,
    .vino4 p,
    .vino5 p,
    .rata1 p,
    .rata2 p,
    .rata3 p{
        display: none;
        color: black
    }
    
    .drinksTypes img:hover+.cava1In p,
    .drinksTypes img:hover+.cava2In p,
    .drinksTypes img:hover+.cava3In p,
    .drinksTypes img:hover+.cava4In p,
    .drinksTypes img:hover+.cava5In p,
    .drinksTypes img:hover+.vino1In p,
    .drinksTypes img:hover+.vino2In p,
    .drinksTypes img:hover+.vino3In p,
    .drinksTypes img:hover+.vino4In p,
    .drinksTypes img:hover+.vino5In p,
    .drinksTypes img:hover+.rata1In p,
    .drinksTypes img:hover+.rata1In p,
    .drinksTypes img:hover+.rata2In p,
    .drinksTypes img:hover+.rata3In p{
        display: block;
    }    
}
/* Tamaño Pantalla*/
@media all and (min-width: 1024px) and (max-width: 1280px) {
    .drinksGeneral img {
        height: 500px;
        width: 100%;
    }
    
    .drinksPhoto1 {
        width: 100%;
        height: 500px;
        border-bottom: solid black 1px;
    }
    
    .drinksGeneral h2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 28px;
        font-family: 'Playfair Display', serif;
        margin-top: 60px;
        color: #514a34;
    }
    
    .drinksGeneral p {
        text-align: justify;
        line-height: 1.8;
        margin-left: 100px;
        margin-right: 100px;
        font-size: 16px;
        color: #aea071;
        font-family: 'Quicksand', sans-serif;
        margin-bottom: 100px;
    }
    
    .drinksCava img,
    .drinksVi img,
    .drinksRata img {
        display: block;
        margin: auto;
        width: 250px;
        height: 250px;
        margin-bottom: 100px;
        
    }
    
    
    
    .drinksTypes img:hover {
        width: 250px;
        height: 250px;
        border-radius: 30px;
        position: relative;
        mask-image: linear-gradient(to top left, rgba(0, 0, 0, 1), transparent),
            linear-gradient(to top right, rgba(0, 0, 0, 1), transparent),
            linear-gradient(to bottom left, rgba(0, 0, 0, 1), transparent),
            linear-gradient(to bottom right, rgba(0, 0, 0, 1), transparent);
        mask-position: left top, right top, left bottom, right bottom;
        mask-size: 50% 50%;
        /* Controla la extensión del difuminado en cada esquina */
        mask-repeat: no-repeat;
        background-color: rgba(0, 0, 0, 0);
        /* Esto asegura que el fondo sea transparente */
    }
    
    .drinksTypes img:hover + .cava1In,
    .drinksTypes img:hover + .cava2In,
    .drinksTypes img:hover + .cava3In,
    .drinksTypes img:hover + .cava4In,
    .drinksTypes img:hover + .cava5In,
    .drinksTypes img:hover + .vino1In,
    .drinksTypes img:hover + .vino2In,
    .drinksTypes img:hover + .vino3In,
    .drinksTypes img:hover + .vino4In,
    .drinksTypes img:hover + .vino5In,
    .drinksTypes img:hover + .rata1In,
    .drinksTypes img:hover + .rata2In,
    .drinksTypes img:hover + .rata3In{
        width: 300px;
        height: 250px;
        display: flex;
        background: linear-gradient(to bottom, transparent, #aea071);
        font-size: 20px;
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .cava1In,
    .cava2In,
    .cava3In,
    .cava4In,
    .cava5In,
    .vino1In,
    .vino2In,
    .vino3In,
    .vino4In,
    .vino5In,
    .rata1In,
    .rata2In,
    .rata3In{
        position: absolute;
        margin-right: 0px;
        background: linear-gradient(to bottom, transparent, #aea071);
        color:black;
        border-radius: 30px;
        margin-left: 50px;
        font-size: 16px;
        height: 40px;
        width: 180px;
        text-align: center;
        
    }
    
    .cava1In h3,
    .cava2In h3,
    .cava3In h3,
    .cava4In h3,
    .cava5In h3,
    .vino1In h3,
    .vino2In h3,
    .vino3In h3,
    .vino4In h3,
    .vino5In h3,
    .rata1In h3,
    .rata2In h3,
    .rata3In h3{
        font-family: 'Playfair Display', serif;
        line-height:12px;
        font-size: 16px;
    }
    
    .drinksTypes img:hover+.cava1In h3,
    .drinksTypes img:hover+.cava2In h3,
    .drinksTypes img:hover+.cava3In h3,
    .drinksTypes img:hover+.cava4In h3,
    .drinksTypes img:hover+.cava5In h3,
    .drinksTypes img:hover+.vino1In h3,
    .drinksTypes img:hover+.vino2In h3,
    .drinksTypes img:hover+.vino3In h3,
    .drinksTypes img:hover+.vino4In h3,
    .drinksTypes img:hover+.vino5In h3,
    .drinksTypes img:hover+.rata1In h3,
    .drinksTypes img:hover+.rata2In h3,
    .drinksTypes img:hover+.rata3In h3{
        display: none;
    }
    
    .cava1,
    .cava2,
    .cava3,
    .cava4,
    .cava5,
    .vino1,
    .vino2,
    .vino3,
    .vino4,
    .vino5,
    .rata1,
    .rata2,
    .rata3{
        position: relative;
        display: flex;
        align-items:start;
    }
    
    .cava1 p,
    .cava2 p,
    .cava3 p,
    .cava4 p,
    .cava5 p,
    .vino1 p,
    .vino2 p,
    .vino3 p,
    .vino4 p,
    .vino5 p,
    .rata1 p,
    .rata2 p,
    .rata3 p{
        display: none;
        color: black
    }
    
    .drinksTypes img:hover+.cava1In p,
    .drinksTypes img:hover+.cava2In p,
    .drinksTypes img:hover+.cava3In p,
    .drinksTypes img:hover+.cava4In p,
    .drinksTypes img:hover+.cava5In p,
    .drinksTypes img:hover+.vino1In p,
    .drinksTypes img:hover+.vino2In p,
    .drinksTypes img:hover+.vino3In p,
    .drinksTypes img:hover+.vino4In p,
    .drinksTypes img:hover+.vino5In p,
    .drinksTypes img:hover+.rata1In p,
    .drinksTypes img:hover+.rata1In p,
    .drinksTypes img:hover+.rata2In p,
    .drinksTypes img:hover+.rata3In p{
        display: block;
    }
     
}
 

