.drinksGeneral img {
    height: 500px;
    width: 100%;
}

.drinksPhoto1 {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.drinksGeneral {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.drinksGeneral h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}